*{
    background-color: black;
    color: white;
}

.shows_container{
    display: flex;
    flex-direction: row;
    gap: 20px;

}
.show_card{
    width: 250px;

}

.show_card>img{
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
}

.show_card>img:hover{
    width: 300px;
}

.hiddenEle{
    color: white;

}
